body{
    background-color:aqua;
}
.profile{
    margin-top:50px;
    width: 90%;
    background-color: white;
}
.container{
    width: 90%;
}
.profile .profile_image img{
   width: 200px;
   margin-top: 35px;
   height: 200px;
   border-radius: 50%;
}
.btn{
    margin-top: 20px;
}
